html,
body {
  margin: 0;
  padding: 0;
  justify-content: center;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 15px;
}

.content-container {
  display: flex;
}

.header {
  background-color: #c1f4ff;
  padding: 6px;
  align-content: center;
  

}

.websitevansam {
  font-size: 15px;
  text-align: center;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 15px;
}

main {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

footer {
  background-color: #c1f4ff;
    padding: 20px;
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.Maintext {
  font-size: 40px;

}

aside {
  text-align: center;
  background-color: #ffffff;
  flex-grow: 4;

}

article {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  max-width: 30%;
  margin-right: auto;
  background-color: #ffffff;
  flex-grow: 1;
}

.slidebar {
  margin-top: 20px;
}

.search {
  height: 40px;
  width: 400px;
  border-radius: 100px;

}

.topnav input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 2px;
  margin-right: 16px;
  font-size: 17px;
  width: 400px;
  height: 30px;
  align-content: center;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 15px;


}

.topnav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 10px;
  margin: 1px;
  flex-wrap: wrap;
  font-size: 20px;

}


.accounticon {
  height: 70px;
  width: 70px;
  z-index: 10px;


}

.accounticon:hover {
  background-color: #c0c0c0;
  color: #acacac;
  border-radius: 50px;
  z-index: 1px;
}

.bagicon:hover {
  background-color: #c0c0c0;
  color: #acacac;
  border-radius: 50px;
  z-index: 1px;
}

.settingicon:hover {
  background-color: #c0c0c0;
  color: #acacac;
  border-radius: 50px;
  z-index: 1px;
}

.bagicon {
  height: 55px;
  width: 55px;
}

.logoicon {
  height: 90px;
  width: 180px;
  margin-left: 36px;


}

.settingicon {
  height: 55px;
  width: 55px;

}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #9f9f9f;
  color: rgb(255, 254, 254);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {

  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #6c6c6c
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #1b1b1b;
}

.productcard {
  max-width: 12em;
  background-color: #eeeeee;
  padding: 10px;
  gap: 0px;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 5px;
  box-shadow: 0 5px 5px #383838;
  border-radius: 5px;
  display: flex;
  align-content: center;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.productcard:hover {
  background-color: #b6b6b6;
  color: #ffffff;
}

.productcard h4 {
  gap: 10px;
  margin: 7px;
}

.productcard img {
  max-width: 100%;
  border-radius: 7px;
  box-shadow: 0 2px 2px #383838;
}

.productcard button {
  background-color: #ffffff;
  border-radius: 5px;
}

.productcard button:hover {
  background-color: #858585;
  color: #ffffff;
}

.filter-container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 10px;

}

.filter-container {
  margin-bottom: 20px;

}

label {
  /* display: block; */
  font-size: 16px;
  margin-bottom: 8px;
  margin-left: 10px;
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

select {
  width: 200px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  display: flex;
  margin-left: 10px;
  margin-top: 12px;
}

select:focus {
  border-color: #007bff;
  outline: none;
  background-color: #e9f3ff;
}

.taalbalk {
  height: 40px;
  width: 120px;
  margin-top: 0px;
  margin-left: -19px;
  box-shadow: 0 1px 1px #383838;
} 


.loginform{
  height: 550px;
  width: 300px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 10px;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 15px;
  
}


.loginform:hover{
  height: 550px;
  width: 300px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: rgba(18, 227, 255, 0.2) 2px 7px 29px 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 15px;
  
}

#naambalk h1{
  justify-items: center;
  margin-left: 40px;
  gap: 60px;
  border-radius: 5px;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 28px;
}

#naam_balk{
  
  height: 30px;
  border-radius: 3px;
  width: 160px;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 15px;
}

#naam_balk1{
 
  height: 30px;
  width: 160px;
  border-radius: 3px;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 15px;
}

#login_button{
  width: 168px;
  background-color: #c1f4ff;
  margin-top: 30px;
  height: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 3px;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 15px;
}

